@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    background-color: black;
}


.display-hide {
    display: none;
}

/* Shared Styles  */
.section-title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 10px;
}

.opacity-color {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
}

.btn-primary {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    padding: 16px 40px;
    border-radius: 42px;
    border: none;
    background: rgb(230, 83, 60);
    cursor: pointer;
}

/* Header styles  */
.header {
    background-color: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    max-width: 1060px;
    margin: 0 auto;
}

/* navbar styles  */
.navbar {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-title {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-items {
    display: flex;
    gap: 45px;
}

.nav-item {
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

#nav-home {
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
}

.hamburger-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-icon .line {
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
}

/* Banner styles */

.banner {
    display: flex;
    gap: 90px;
    justify-content: space-around;
    align-items: center;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-banner {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 42px;
    padding: 16px 40px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    margin-left: 15px;
}

.banner-img {
    position: relative;
}

.banner-img button {
    text-align: left;
    padding: 20px 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}

#free-badge {
    position: absolute;
    top: 150px;
    right: 5px;

}

#tutorial-badge {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 100px;
}

.red-circle {
    width: 40px;
    height: 40px;
    background-color: #ff4a42;
    border-radius: 50%;
}

.badge-title {
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 5px;
}

.badge-description {
    color: rgba(239, 237, 232, 0.65);
}

/* main styles  */
.main-width {
    max-width: 1060px;
    margin: 50px auto;
}

main>section {
    margin-top: 100px;
}

/* change your habits styles  */
.habits {
    text-align: center;
}

.habit-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
}

.habit-card-img {
    border-radius: 50%;
}

.habit-card-title {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0px;
}

/* Run Extra miles Styles  */
.run {
    display: flex;
    gap: 100px;
    padding: 30px 30px 30px 55px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    position: relative;
}

.run-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.run-img img {
    width: 100%;
    border-radius: 18px;
}

/* Calculator Section styles  */
.calculator-headline {
    width: 671px;
    margin: 80px auto;
}

.calculator {
    background-color: rgb(34, 34, 34);
    margin: 0;
}

.calculator-container {
    width: 1060px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

.calculator-table {
    padding-top: 52px;
}

.table-title {

    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 900;
}

table {
    margin-top: 52px;
    width: 310px;
    height: 216px;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 18px 15px 15px 10px;


}

td {
    color: rgba(255, 255, 255, 0.5);
}

th {
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.calculator-form {
    padding-top: 52px;
}

.form-group {
    display: flex;
    margin-bottom: 10px;
}

.form-group input,
.form-group select {
    color: rgba(255, 255, 255, 0.6);
    flex: 1;
    padding: 20px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
}

.form-group input:last-child,
.form-group select:last-child {
    margin-right: 0;
}

#btn-margin {
    margin-top: 20px;
    margin-bottom: 40px;
}

/* Extra Section Style  */
.extra {
    max-width: 1060px;
    margin: 80px auto;
    text-align: center;
    color: whitesmoke;
}

.workout-programs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 20px;
}

.program-card {
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
}

.card-title {
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 900;
}

/* Footer styles  */

footer {
    margin-top: 100px;
    background: rgba(255, 255, 255, 0.1);
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 70px;
}

.info-title {
    color: rgb(230, 83, 60);
    font-size: 4.3rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.footer-middle-part,
.footer-last-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-nav>li {
    list-style: none;
}

.footer-title {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;

}

.footer-link {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.6rem;
    text-decoration: none;
}

.hr-line {
    max-width: 1060px;
    margin: 40px auto;
}

.all-rights {
    padding-bottom: 35px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
}

/* Media Query  */

/* small device  */
@media screen and (max-width: 576px) {
    .header {
        padding: 20px;
    }

    .navbar {
        margin-top: 0;
    }

    .nav-links {
        display: none;
    }

    .hamburger-icon {
        display: flex;
    }

    .banner {
        flex-direction: column;
    }

    .banner-title {
        font-size: 3rem;
    }

    .btn-primary {
        padding: 15px 20px;
        font-size: 1rem;
        border-radius: 32px;
    }

    .btn-banner {
        padding: 15px 20px;
        font-size: 1rem;
        border-radius: 32px;
    }

    main>section {
        margin-top: 0px;
    }

    .habit-cards,
    .workout-programs {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 20px;
    }

    .run {
        padding: 30px 30px 30px 30px;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .run-info {
        gap: 0px;
    }

    .calculator-container {
        width: 80%;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }

    .calculator-headline {
        padding: 20px;
        width: 80%;
    }

    .form-group input,
    .form-group select {
        padding: 20px;
        width: 100%;
    }

    footer {
        padding: 20px;
    }

    .footer-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .program-card {
        margin: auto;
    }

}